@font-face
{
font-family: Caveat ;
src: url(fonts/Caveat-Bold.woff);
}
@font-face
{
font-family: Exo2 ;
src: url(fonts/Exo2.woff);
}
@font-face
{
font-family: Comfortaa;
src: url(fonts/Comfortaa-Light.woff);
}
h1{
    font-family: 'Caveat';
    text-align: center;
font-size: 45px;
font-weight:bold;
text-shadow: 5px 5px grey;
margin-bottom: 0%;
}
h2{
    font-family:'Exo2';
    margin-bottom: 1.2em;
    margin-top: 0.2em;
    text-indent: 25px;
    text-align: left;
}
p{
    font-family:'Comfortaa';
    text-indent: 25px;
    font-size: 20px;
    text-align: justify;
    margin-top: 0%;
    margin-bottom: 0%;
    line-height: 200%;
}
p::first-letter {
    font-weight: bold;
    font-size: 45px;
    color: white;
    background-color: hsla(275, 100%, 10%, 1);
    ;
   }
   ol {
 list-style-type:upper-roman;
   }

li {
   color:black;
   font-size: 20px;
   font-family:'Comfortaa'
}

li::marker{
 color: blue;
   
}

h2:last-of-type {
    margin-bottom: 0%;

}
