 tr,td{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 5px;
    border-style: solid;
    border-color:gray;
    text-align: center;
}
thead{
background-color:#00BF;
color: white;
size: 1.2em;
text-align: center;
}
.td0{
   background-color: white;
   border: 0px;
   color: white;
}
.td1{
    background-color:darkblue;
    color: white;
}
.td2{
   background-color: purple;
   color: white;
}
.td3{
   background-color: green;
   color: white;
}
.tdw{
   background-color: white;
}